
<aside class="w-64 h-screen sticky bg-secondary text-white flex-shrink-0 hidden md:flex flex-col">
      <div class="h-16 flex justify-center items-center text-2xl font-bold bg-active">
        <div class="flex items-center justify-center">
          <i class="fa-solid fa-code text-indigo-400 mr-2"></i> <span>Dotnet Niger</span>
        </div>
            
      </div>

      <nav class="flex-1 mt-4 px-4 space-y-2">
            <NavLink href="/admin/dashboard" class="flex items-center p-3 rounded-lg hover:bg-hover transition"
                     ActiveClass="bg-active">
                  <i class="fa-solid fa-chart-line w-8"></i> Dashboard
            </NavLink>

            <NavLink href="/admin/users" class="flex items-center p-3 rounded-lg hover:bg-hover transition"
                     ActiveClass="bg-active">
                  <i class="fa-solid fa-users w-8"></i> Utilisateurs
            </NavLink>

            <NavLink href="/admin/blog" class="flex items-center p-3 rounded-lg hover:bg-hover transition"
                     ActiveClass="bg-active">
                  <i class="fa-solid fa-newspaper w-8"></i> Blog
            </NavLink>

            <NavLink href="/admin/events" class="flex items-center p-3 rounded-lg hover:bg-hover transition"
                     ActiveClass="bg-active">
                  <i class="fa-solid fa-calendar w-8"></i> Événements
            </NavLink>

            <NavLink href="/admin/ressources" class="flex items-center p-3 rounded-lg hover:bg-hover transition"
                     ActiveClass="bg-active">
                  <i class="fa-solid fa-book-bookmark w-8"></i> Ressources
            </NavLink>
      </nav>

      <div class="p-4 border-t border-slate-700">
            <NavLink href="/" class="flex items-center text-gray-400 hover:text-white transition">
                  <i class="fa-solid fa-arrow-right-from-bracket mr-2"></i> Retour au site
            </NavLink>
      </div>
</aside>