
<aside class="sticky hidden h-screen w-64 flex-shrink-0 flex-col bg-secondary text-white md:flex">
      <div class="flex h-16 items-center justify-center bg-active text-2xl font-bold">
        <div class="flex items-center justify-center">
          <i class="fa-solid fa-code mr-2 text-indigo-400"></i> <span>Dotnet Niger</span>
        </div>
            
      </div>

      <nav class="mt-4 flex-1 space-y-2 px-4">
            <NavLink href="/admin/dashboard" class="flex items-center rounded-lg p-3 transition hover:bg-hover"
                     ActiveClass="bg-active">
                  <i class="fas fa-gauge w-8 text-2xl"></i> Dashboard
            </NavLink>

            <NavLink href="/admin/users" class="flex items-center rounded-lg p-3 transition hover:bg-hover"
                     ActiveClass="bg-active">
                     <i class="fas fa-user w-8 text-2xl"></i>
                   Utilisateurs
            </NavLink>

            <NavLink href="/admin/blog" class="flex items-center rounded-lg p-3 transition hover:bg-hover"
                     ActiveClass="bg-active">
                  <i class="fas fa-newspaper w-8 text-2xl"></i> Blog
            </NavLink>

            <NavLink href="/admin/events" class="flex items-center rounded-lg p-3 transition hover:bg-hover"
                     ActiveClass="bg-active">
                  <i class="fas fa-calendar w-8 text-2xl"></i> Événements
            </NavLink>

            <NavLink href="/admin/ressources" class="flex items-center rounded-lg p-3 transition hover:bg-hover"
                     ActiveClass="bg-active">
                  <i class="fas fa-folder w-8 text-2xl"></i> Ressources
            </NavLink>
      </nav>

      <div class="border-t border-slate-700 p-4">
            <NavLink href="/" class="flex items-center text-gray-400 transition hover:text-white">
                  <i class="fas fa-arrow-right-from-bracket mr-2"></i> Retour au site
            </NavLink>
      </div>
</aside>