@* Composant admin : barre supérieure avec profil et actions rapides. *@
<header class="sticky z-20 w-full flex h-16 items-center justify-between bg-white px-8 sm:px-4 md:px-6 shadow-md">
      <div class="flex gap-4">
            <button class="sm:hidden" @onclick="ToggleSidebar">
                  <i class="fas fa-bars text-xl"></i>
            </button>
            <div class="flex items-center text-2xl font-bold">
                  <img src="/Logo.svg" alt="Logo du dotnet Niger" class="w-10 h-10">
                  <span class="Link">Dotnet Niger</span>
            </div>
      </div>
      <div class="flex items-center space-x-4">
            <div>

            </div>
            <button class="flex items-center gap-2 rounded-lg bg-secondary px-3 py-2 text-white hover:bg-hover">
                  <span class="Button hidden sm:inline"> Deconnexion</span>
                  <i class="fas fa-sign-out-alt text-2xl sm:text-xl"></i>
            </button>
      </div>
</header>

@code {
      [Parameter]
      public EventCallback ToggleSidebar { get; set; }


}