
<header class="sticky flex h-16 items-center justify-between bg-white px-8 shadow-md">
            <div class="flex gap-2">
                  <div class="flex h-[46px] w-[46px] items-center justify-center overflow-hidden rounded-full" >
                        <img src="./Images/user.png" class="h-auto w-[46px]" alt="">
                  </div>
                  <div class="block h-[46px] w-auto justify-center">
                        <span class="Button block text-text">Abdoul Raouf</span>
                        <span class="Badge block text-[#04FE00]">Administrateur</span>
                  </div>
            </div>
            <div class="flex items-center space-x-4">
                <div>

                </div>
                <button class="Button flex items-center gap-2 rounded-lg bg-secondary px-3 py-2 text-white hover:bg-hover">
                   Deconnexion
            <i class="fas fa-sign-out-alt text-2xl"></i>
                  </button>
            </div>
</header>