<div class="relative w-[280px] h-[380px] rounded-xl overflow-hidden bg-white shadow-lg">
      <div class="relative w-full h-[180px]">
            <img src="/Images/ImageBlog.jpg" class="h-full w-full object-cover" alt="Img" >
            <div class="absolute top-2 left-2 w-7 h-7 rounded-full bg-orange-500"></div>
      </div>
      <div class="px-3 py-3">
            <div class="flex justify-between mb-2">
                  <span class="H5 text-text">Introduction à Blazor WASM</span>
                  <span class="w-[2px] h-[18px] bg-text"></span>
            </div>
            <div class="mb-2"> 
            <span class="text-text body-small">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et ratione sapiente odio, 
                  quod doloribus, facilis quisquam placeat officiis sunt, sequi saepe quaerat facere
            </span>
            </div>
            
            <div class="flex justify-between">
                  <span class="text-text Button">Ali Mahamane</span>
                  <span class="text-text Button">15/01/2025 12:34</span>
            </div>
      </div>
</div>