@using DotnetNiger.UI.Components.Admin.Shared
@inherits LayoutComponentBase

<div class="flex h-screen overflow-hidden">
  <Sidebar />
  <div class="flex flex-1 flex-col">
    <Topbar />
    <main class="flex-1 overflow-y-auto bg-primaryn transition-all duration-300">
      <div class="container mx-auto">
        @Body
      </div>
    </main>
  </div>
</div>