@inherits LayoutComponentBase
@using DotnetNiger.UI.Components.Shared;

<div class="page">
    <div class="">
        <TopBar/>
    </div>

    <main>
        <article class="mt-4 pt-4">
            @Body
        </article>
    </main>
</div>

