@inherits LayoutComponentBase
@using DotnetNiger.UI.Components.Shared;

<div class="flex flex-col h-screen overflow-hidden">
     <TopBar/>
    <main class="overflow-y-scroll">
        <article class="mt-0 z-0">
            @Body
        </article>
    </main>
</div>

