  body{
            margin: 0;
            font-family: 'Segoe UI';
      }
:root {
      --color-primary: #F4F2F2;
      --color-secondary: #512BD4;
      --color-text: #000000;
      --color-hover: #6B4FE0;
      --color-active: #3F1FB3;
      --color-focus: #AFA3FF;
      --color-soft: #EEEAFE;
      --color-white: #FFFFFF;

      --radius-sm: 4px;
      --radius-md: 8px;
      --radius-lg: 16px;

      --bold: 700;
      --semi-bold: 600;
      --regular: 400;

      --space-1: 4px;
      --space-2: 8px;
      --space-3: 16px;
      --space-4: 24px;
      --space-5: 32px;
}
.body-regular{
      font-size: 16px;
      font-weight: var(--regular);
}
.body-small{
      font-size: 14px;
      font-weight: var(--regular);
}
.H3{
      font-size: 24px;
      font-weight: var(--semi-bold);
}
.H5{
      font-size: 16px;
      font-weight: var(--semi-bold);
}
.H4{
      font-size: 18px;
      font-weight: var(--semi-bold);
}
.H2{
      font-size: 36px;
      font-weight: var(--bold);
}
.Button{
      font-size: 14px;
      font-weight: var(--semi-bold);
}
.Badge{
      font-size: 11px;
      font-weight: var(--bold);
}
.Link{
      font-size: 13px;
      font-weight: var(--regular);
}
.Sous-Titre{
      font-size: 18px;
      font-weight: var(--regular);
}