:root {
      --color-primary: #F4F2F2;
      --color-secondary: #512BD4;
      --color-text: #000000;
      --color-hover: #6B4FE0;
      --color-active: #3F1FB3;
      --color-focus: #AFA3FF;
      --color-soft: #EEEAFE;
      --color-white: #FFFFFF;

      --radius-sm: 4px;
      --radius-md: 8px;
      --radius-lg: 16px;

      --bold: 700;
      --semi-bold: 600;
      --regular: 400;

      --space-1: 4px;
      --space-2: 8px;
      --space-3: 16px;
      --space-4: 24px;
      --space-5: 32px;
}
