@page "/"
@* Page d'accueil publique du site .NET Niger. *@

<PageTitle>Accueil - .NET Niger</PageTitle>

<div class="relative min-h-screen bg-[url('wwwroot/Images/Fond1.jpeg')] bg-cover bg-center">
    <!-- white overlay across full screen -->
    <!--<div class="absolute inset-0 bg-[#f1f0f0]/50"></div>-->
    <!-- main flex container sits above overlay -->
    <div class="relative flex flex-col items-center justify-start text-center px-6 min-h-screen"> 
        <!-- top: logo centered -->
    <div class="pt-6">
        <NavLink href="/" class="flex items-center justify-center">
            <img src="Logo.svg" alt="logo dotnet.niger" class="h-20 w-20" />
        </NavLink>
    </div>

    <!-- middle: title + paragraph -->
    <div class="flex flex-col items-center justify-center mt-6 p-6 w-full max-w-4xl">
        <h1 class="font-bold text-6xl text-blue-600">
            La communauté des développeurs .NET au Niger
        </h1>
        <p class=" text-lg md:text-2xl max-w-2xl mt-6 ">
            Connecter les développeurs .NET, organiser des événements, partager
            des ressources techniques. La communauté Dotnet Niger est une équipe passionnée par le développement
            web et les nouvelles technologies. Notre objectif est de créer un environnement propice à l'apprentissage et à l'échange.
        </p>
    </div>

    <!-- bottom: buttons centered and fixed -->
    <div class="gap-4 mt-6 ">
        <button class="px-8 py-3 text-lg font-semibold border border-blue-600 text-white bg-blue-600 rounded-lg hover:bg-white hover:text-white transition">
            Rejoindre la communauté
        </button>
        <button class="px-8 py-3 text-lg font-semibold text-blue-600 bg-white border border-blue-600 rounded-lg hover:bg-blue-600 hover:text-white transition">
            Explorer les ressources
        </button>
    </div>
</div>
</div>
